<div class="forgot-password-container">
  <div class="forgotPassword-Form">
    <h2 class="forgot-password-title">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email"> <fa-icon [icon]="faEnvelope"></fa-icon>Email Address</label>
        <input type="email" id="adminEmail" formControlName="adminEmail" class="form-control"
          placeholder="Enter your email address" required />
        <div
          *ngIf="forgotPasswordForm.controls['adminEmail'].invalid && forgotPasswordForm.controls['adminEmail'].touched"
          class="error-text">
          <ng-container *ngIf="forgotPasswordForm.controls['adminEmail'].errors?.['required']">Email is
            required.</ng-container>
          <ng-container *ngIf="forgotPasswordForm.controls['adminEmail'].errors?.['email']">Please enter a valid email
            address.</ng-container>
        </div>
      </div>

      <button type="submit" class="btn" [disabled]="forgotPasswordForm.invalid">Submit</button>
    </form>
    <div class="back-to-login">
      <a routerLink="/">Back to Login</a>
    </div>

  </div>
</div>

<div class="background-image"></div>