.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://static.vecteezy.com/system/resources/previews/002/844/147/non_2x/closed-padlock-on-digital-background-cyber-security-free-vector.jpg') no-repeat center center fixed;
  background-size: cover;
}

.forgotPassword-Form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
}

.forgot-password-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: flex;
  align-items: center;
}

.form-group fa-icon {
  margin-right: 8px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: #007bff;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #f07d18;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn:hover {
  background-color: rgb(255, 153, 52);
}

.error-text {
  color: red;
  font-size: 12px;
}

.back-to-login {
  text-align: center;
  margin-top: 10px;
}

.back-to-login a {
  color: #007bff;
  text-decoration: none;
}

.back-to-login a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .forgotPassword-Form {
    width: 90%;
    padding: 15px;
  }

  .forgot-password-title {
    font-size: 20px;
  }

  .form-control {
    font-size: 14px;
    padding: 8px;
  }

  .btn {
    font-size: 14px;
    padding: 8px;
  }

  .back-to-login a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .forgotPassword-Form {
    width: 100%;
    padding: 10px;
  }

  .forgot-password-title {
    font-size: 18px;
  }

  .form-control {
    font-size: 12px;
    padding: 6px;
  }

  .btn {
    font-size: 12px;
    padding: 6px;
  }

  .back-to-login a {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .forgotPassword-Form {
    width: 100%;
    padding: 10px;
  }

  .forgot-password-title {
    font-size: 16px;
  }

  .form-control {
    font-size: 12px;
    padding: 6px;
  }

  .btn {
    font-size: 12px;
    padding: 6px;
  }

  .back-to-login a {
    font-size: 12px;
  }
}